{% extends "base.html" %}
{% block title %}Password reset request{% endblock %}


{% block content %}
    <div class="reset-bg-container">
        <div class="reset-content">
            <h2 class="title">Forgot <br> <span class="small-title">Your Password?</span></h2>
            <h6 class="subtitle">Not to worry, we got you! Let's get you a new password.</h6>
            <form method="post" class="auth-form">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.email }}
                    {% if form.email.errors %}
                        <div class="form-error">
                            {% for error in form.email.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                {% if form.non_field_errors %}
                    <div class="form-error">
                        {% for error in form.non_field_errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
                <button type="submit" class="submit-btn">Send</button>
            </form>
            <a href="{% url 'login' %}" class="text">
                <i class="fa fa-arrow-left"></i> Back to Login
            </a>
        </div>
    </div>
{% endblock %}